<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-title>
      <img src="/assets/images/brand/diwanet_logo_blue.png" class="image-title">
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!accessToken?.length">
      <ion-button (click)="addPost()" fill="clear">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="150"
  (scrolled)="onScroll()" [scrollWindow]="false">
  <ng-container *ngIf="posts?.length; else noResultFound">
    <ion-card *ngFor="let item of posts" [style]="accessToken ? 'padding-bottom: 50px;' : ''">
      <ion-card-header>
        <ion-card-subtitle>{{ item.created_at | date }}</ion-card-subtitle>
        <ion-card-title>{{ item?.service_category?.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ item?.detail }}

      </ion-card-content>
      <div class="comment-section" *ngIf="accessToken">
        <div class="first-column">
          <ion-input #input type="text" placeholder="Add a comment" class="m-0"></ion-input>
        </div>
        <div class="second-column">
          <ion-button (click)="addComment(item?.id, input)" fill="clear">
            <ion-icon name="send-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card>
  </ng-container>

  <ng-template #noResultFound>

    <div *ngIf="!loading" class="medium-color mt-5 d-flex align-items-center justify-content-center">
      No results found
    </div>

  </ng-template>
</ion-content>
