<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title> {{ 'POSTS_ADD.TITLE' | translate }}</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()" fill="clear">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <div [formGroup]="form">

    <ion-item lines="full">

      <ion-input formControlName="name" type="text" [placeholder]="'POSTS_ADD.NAME' | translate " class="width-100">
      </ion-input>


    </ion-item>
    <ion-item lines="none" *ngIf="submitted && form?.controls.name?.errors?.required">
      <small class="danger-color">
        {{ 'POSTS_ADD.REQUIRED' | translate }}
      </small>
    </ion-item>

    <ion-item lines="full">

      <ion-input formControlName="phone" type="tel" [placeholder]="'POSTS_ADD.PHONE' | translate " class="width-100">
      </ion-input>


    </ion-item>
    <ion-item lines="none" *ngIf="submitted && form?.controls.phone?.errors?.required">
      <small class="danger-color">
        {{ 'POSTS_ADD.REQUIRED' | translate }}
      </small>
    </ion-item>

    <ion-item lines="full">

      <ion-select [value]="undefined" [placeholder]="'POSTS_ADD.CATEGORY' | translate " formControlName="category_id"
        class="width-100">
        <ion-select-option [value]="undefined">None</ion-select-option>
        <ion-select-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}
        </ion-select-option>
      </ion-select>

    </ion-item>
    <ion-item lines="none" *ngIf="submitted && form?.controls.category_id?.errors?.required">
      <small class="danger-color">
        {{ 'POSTS_ADD.REQUIRED' | translate }}
      </small>
    </ion-item>

    <ion-item lines="full">

      <ion-select [value]="undefined" [placeholder]="'POSTS_ADD.COUNTRY' | translate " class="width-100"
        (ionChange)="countryChanged($event)" formControlName="country_id">
        <ion-select-option [value]="undefined"> {{ 'POSTS_ADD.NONE' | translate }}</ion-select-option>
        <ion-select-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}
        </ion-select-option>
      </ion-select>

    </ion-item>

    <ion-item lines="full">

      <ion-select [value]="undefined" [placeholder]="'POSTS_ADD.CITY' | translate " formControlName="location_id"
        class="width-100">
        <ion-select-option [value]="undefined"> {{ 'POSTS_ADD.NONE' | translate }}</ion-select-option>
        <ion-select-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}
        </ion-select-option>
      </ion-select>

    </ion-item>
    <ion-item lines="none" *ngIf="submitted && form?.controls.location_id?.errors?.required">
      <small class="danger-color">
        {{ 'POSTS_ADD.REQUIRED' | translate }}
      </small>
    </ion-item>

    <ion-item lines="full">

      <ion-textarea formControlName="detail" [placeholder]="'POSTS_ADD.DESC' | translate " class="width-100">
      </ion-textarea>


    </ion-item>
    <ion-item lines="none" *ngIf="submitted && form?.controls.detail?.errors?.required">
      <small class="danger-color">
        {{ 'POSTS_ADD.REQUIRED' | translate }}
      </small>
    </ion-item>
    <ion-button (click)="addPost()" expand="block" color="primary" type="submit"
      [disabled]="(submitted && form.invalid) || loading">
      {{ 'POSTS_ADD.TITLE' | translate }}
    </ion-button>
  </div>

</ion-content>
