<ion-header class="ion-no-shadow ion-no-border position-absolute">
  <ion-toolbar class="position-absolute">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" fill="clear" color="light">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!loading">
  <div class="top-part">

    <ion-row>
      <ion-col size="12" class="text-center">
        <img src="/assets/images/mock/user.png" alt="" class="user-image">
        <p class="mt-2 light-color">{{ user?.name }} . <strong>{{ user?.category?.name }}</strong></p>
      </ion-col>
    </ion-row>
  </div>
  <!-- Default Segment -->
  <ion-segment (ionChange)="segmentChanged($event)" value="profile" mode="md">
    <ion-segment-button value="profile">
      <ion-label>{{ 'USER_PROFILE.PROFILE' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="review">
      <ion-label>{{ 'USER_PROFILE.REVIEWS' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="map" *ngIf="user?.lat && user?.long">
      <ion-label>{{ 'USER_PROFILE.MAP' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="segmentValue">
    <ion-list *ngSwitchCase="'profile'">

      <div class="user-info" *ngIf="user?.location?.name !== null">
        <label>{{ 'USER_PROFILE.LOCATION' | translate }}</label>
        <p>{{ user?.location?.name }}</p>
      </div>

      <div class="user-info" *ngIf="user?.address">
        <label>{{ 'USER_PROFILE.ADDRESS' | translate }}</label>
        <p>{{ user.address }}</p>
      </div>

      <div class="user-info" *ngIf="user?.price_type !== null && user?.price !== null">
        <label>{{ 'USER_PROFILE.PRICE' | translate }}</label>
        <p>{{ user?.price }} {{ 'USER_PROFILE.PER' | translate }} {{ user?.price_type }}</p>
      </div>

      <div class="user-info" *ngIf="user?.phone">
        <label>{{ 'USER_PROFILE.PHONE' | translate }}</label>
        <p>
          <a [href]="'tel:'+user.phone">{{ user?.phone }}</a>
        </p>
      </div>

      <div class="user-info" *ngIf="user?.facebook">
        <label>{{ 'USER_PROFILE.FACEBOOK' | translate }}</label>
        <a [href]="'facebook.com/'+user?.facebook">{{ user?.facebook }}</a>
      </div>

      <div class="user-info" *ngIf="user?.instagram">
        <label>{{ 'USER_PROFILE.INSTAGRAM' | translate }}</label>
        <a [href]="'instagram.com/'+user?.instagram">{{ user?.instagram }}</a>
      </div>

      <div class="user-info" *ngIf="user?.snapchat">
        <label>{{ 'USER_PROFILE.SNAPCHAT' | translate }}</label>
        <a [href]="'snapchat.com/'+user?.snapchat">{{ user?.snapchat }}</a>
      </div>


      <div class="user-info" *ngIf="user?.about">
        <label>{{ 'USER_PROFILE.ABOUT' | translate }}</label>
        <div [innerHtml]="user.about"></div>
      </div>


    </ion-list>

    <ion-list *ngSwitchCase="'review'">
      <div class="review-item" *ngFor="let review of user?.review">
        <div class="d-flex align-items center">
          <div>
            <span class="created_at_review">{{ review?.created_at | date:'d/M/yy' }}</span>
            <app-rating-stars [stars]="review?.stars " [disabled]="true">
            </app-rating-stars>
          </div>
        </div>
        <div>
          <p class="dark-color">{{ review.comment }}</p>
        </div>
      </div>
      <ion-item-divider>
        <ion-label>{{ 'USER_PROFILE.LEAVE_A_REVIEW' | translate }}</ion-label>
      </ion-item-divider>
      <ion-row class="light-bg">
        <ion-col size="12" class="d-flex justify-content-center">
          <ngx-star-rating [(ngModel)]="rating" class="user-rate"></ngx-star-rating>
        </ion-col>
      </ion-row>
      <ion-item lines="none">
        <ion-textarea [(ngModel)]="comment" [placeholder]="'USER_PROFILE.WRITE_A_COMMENT' | translate"></ion-textarea>
      </ion-item>
      <ion-button (click)="postReview()" expand="block" class="m-2">
        {{ 'USER_PROFILE.POST' | translate }}
      </ion-button>
    </ion-list>

    <div class="map" *ngSwitchCase="'map'">
      <app-user-on-map [users]="[user]"></app-user-on-map>
    </div>

  </div>
</ion-content>
