<ion-content [fullscreen]="true">
  <ion-header class="ion-no-shadow ion-no-border">
    <ion-toolbar class="close-fake">
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()" fill="clear">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-slides [options]="sliderOptions">
    <ion-slide>

      <div class="swiper-zoom-container">
        <img [src]="image" alt="">
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
