<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-title>
      <img src="/assets/images/brand/diwanet_logo_blue.png" class="image-title">
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <google-map id="dashboardMap" width="100%" [center]="center" [zoom]="zoom"
    [options]="mapStyles ? {styles: mapStyles} : {}">
    <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions; let index = index"
      [position]="markerPosition" [options]="markerOptions" (mapClick)="openInfoWindow(marker, infoWindow, index)">

      <map-info-window #infoWindow="mapInfoWindow">

        <div *ngIf="users && users[index]?.name">
          <span class="text-hint">Service Man: </span>
          <strong class="text-hint">
            {{ users[index]?.name }}</strong>
        </div>

        <div *ngIf="users && users[index]?.phone">
          <span class="text-hint">Call: </span>
          <a [href]="'tel:' + users[index]?.phone">
            {{ users[index]?.phone }}
          </a>
        </div>

      </map-info-window>

    </map-marker>
  </google-map>
</ion-content>
