.image-title {
  width: 80px;
}
#dashboardMap {
  height: calc(100vh - 112px);
  width: 100%;
  border-radius: nb-theme(border-radius);
}

::ng-deep .map-container {
  height: 100% !important;
}

.android-height {
  height: calc((var(--vh, 1vh) * 100) - 112px) !important;
}
.ios-height {
  height: calc((var(--vh, 1vh) * 100) - 94px) !important;
}
