<ion-menu menuId="main-menu" content-id="main" type="overlay" #mainMenu>
  <ion-content>
    <ion-grid fixed class="header-content white-text">
      <ion-row>
        <ion-col size="12" style="height: 4rem;width: 100%;display: flex;align-items:center;justify-content: center;">
          <img src="/assets/images/brand/diwanet_logo_blue.png" width="50%" />
        </ion-col>
        <!-- <ion-col size="6">
          <div class="margin-left-10" *ngIf="showVersion"><strong>v</strong>{{version}}</div>
        </ion-col> -->
      </ion-row>
    </ion-grid>
    <ion-item button detail="false" lines="none" (click)="navigate('/auth/login')" *ngIf="!accessToken?.length">
      <ion-label>Login</ion-label>
    </ion-item>
    <ion-item button detail="false" lines="none" (click)="navigate('/auth/register')" *ngIf="!accessToken?.length">
      <ion-label>Register</ion-label>
    </ion-item>
    <!-- Flags Item Start-->
    <ion-item detail lines="none" (click)="expanded = !expanded"
      [detailIcon]="expanded ? 'chevron-down-outline' : 'chevron-forward-outline'">
      <ion-label>Location</ion-label>
    </ion-item>
    <div class="animated faster locations" [class.slideOutUp]="!expanded" [class.slideInDown]="expanded">
      <ion-item lines="none" expand="block" fill="clear" *ngFor="let location of locations"
        (click)="selectLocation(location)" [class.active]="selectedLocation.id === location.id"
        [class.deactive]="selectedLocation.id !== location.id">

        {{location.name}}

      </ion-item>
    </div>
    <!-- Flags Item End -->
    <ion-item button detail="false" lines="none">
      <ion-label>Language</ion-label>
    </ion-item>


    <ion-item button detail="false" lines="none" (click)="aboutModal()">
      <ion-label>About</ion-label>
    </ion-item>

    <ion-item button detail="false" lines="none" (click)="contactModal()">
      <ion-label>Contact</ion-label>
    </ion-item>

    <ion-item button detail="false" lines="none" color="danger" (click)="logout()" *ngIf="accessToken?.length;">
      <ion-label>Logout</ion-label>
    </ion-item>


    <ion-row class=" ion-justify-content-start ion-padding links">
      <!-- <ion-icon name="logo-instagram" class="instagram margin-10" (click)="openInstagram()"></ion-icon>
      <ion-icon name="logo-facebook" class="facebook margin-10" (click)="openFacebook()"></ion-icon>
      <img src="/assets/img/node_base_white.png" alt="" height="44.4px" width="100px" class="margin-10"> -->

    </ion-row>
  </ion-content>
</ion-menu>
