<ion-menu menuId="main-menu" content-id="main" type="overlay" #mainMenu>
  <ion-content>
    <ion-grid fixed class="header-content white-text">
      <ion-row>

        <ion-col *ngIf="user" size="12" style="width: 100%;display: flex;align-items:center;justify-content: center;">
          <div class="text-center" (click)="openProfile()">
            <img [src]="user?.service_man?.profile_pic" width="50px" style="border-radius:50%" />
            <p class="mt-2">
              {{ user.name }}
            </p>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
    <ion-item button detail="false" lines="none" (click)="navigate('/auth/login')" *ngIf="!accessToken?.length">
      <ion-label>{{ 'MAIN_NAV.LOGIN' | translate }}</ion-label>
    </ion-item>
    <ion-item button detail="false" lines="none" (click)="navigate('/auth/register')" *ngIf="!accessToken?.length">
      <ion-label>{{ 'MAIN_NAV.REGISTER' | translate }}</ion-label>
    </ion-item>
    <!-- Flags Item Start-->
    <ion-item lines="none" (click)="changeLocation()">
      <ion-label>{{ 'MAIN_NAV.LOCATION' | translate }}</ion-label>
    </ion-item>
    <!-- Flags Item End -->
    <ion-item button detail="true" lines="none" (click)="languageExpanded = !languageExpanded"
      [detailIcon]="languageExpanded ? 'chevron-down-outline' : 'chevron-forward-outline'">
      <ion-label>{{ 'MAIN_NAV.LANGUAGE' | translate}}</ion-label>
    </ion-item>

    <div class=" animated faster languages" [class.slideOutUp]="!languageExpanded"
      [class.slideInDown]="languageExpanded">
      <ion-item lines="none" expand="block" fill="clear" (click)="selectLanguage('en')"
        [class.active]="selectedLang === 'en'" [class.deactive]="selectedLang !== 'en'">

        {{ 'LANGS.EN' | translate }}

      </ion-item>
      <ion-item lines="none" expand="block" fill="clear" (click)="selectLanguage('ku')"
        [class.active]="selectedLang === 'ku'" [class.deactive]="selectedLang !== 'ku'">

        {{ 'LANGS.KU' | translate }}

      </ion-item>
      <ion-item lines="none" expand="block" fill="clear" (click)="selectLanguage('ar')"
        [class.active]="selectedLang === 'ar'" [class.deactive]="selectedLang !== 'ar'">

        {{ 'LANGS.AR' | translate }}

      </ion-item>
    </div>

    <ion-item button detail="false" lines="none" (click)="aboutModal()">
      <ion-label> {{ 'MAIN_NAV.ABOUT' | translate }}</ion-label>
    </ion-item>

    <ion-item button detail="false" lines="none" (click)="contactModal()">
      <ion-label>{{ 'MAIN_NAV.CONTACT' | translate }}</ion-label>
    </ion-item>

    <ion-item button detail="false" lines="none" color="danger" (click)="logout()" *ngIf="accessToken?.length;">
      <ion-label>{{ 'MAIN_NAV.LOGOUT' | translate }}</ion-label>
    </ion-item>


    <ion-row class=" ion-justify-content-start ion-padding links">
      <!-- <ion-icon name="logo-instagram" class="instagram margin-10" (click)="openInstagram()"></ion-icon>
      <ion-icon name="logo-facebook" class="facebook margin-10" (click)="openFacebook()"></ion-icon>
      <img src="/assets/img/node_base_white.png" alt="" height="44.4px" width="100px" class="margin-10"> -->

    </ion-row>
  </ion-content>
</ion-menu>
