// ion-content,
// .links {
//   --background: var(--ion-color-dark);
//   background: var(--ion-color-dark);
// }

.links {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.menu-header-bg {
  height: 300px;
}

.header-content {
  // background: var(--ion-color-dark);
  // box-shadow: 0px 1px 10px 10px rgba(33, 41, 61, 0.2);
}

.back-button {
  --background: transparent;
  --background-hover: transparent;
  --background-activated: transparent;
  --border-radius: 50%;
}

.active {
  --color: var(--ion-color-primary);
  font-weight: bolder;
  transition: all 0.2s;
}

.deactive {
  --color: var(--ion-color-dark);
  font-weight: noraml;
  transition: all 0.2s;
}

ion-item:not(.flags, .locations ion-item, ion-item:first-child) {
  border-top: 2px solid #c8c7cc;
}

.locations {
  z-index: -1;
  display: block;
  ion-item {
    --background: transparent;
    font-size: small;
    --min-height: 30px;
  }
}

ion-item:not(.flags, .languages ion-item, ion-item:first-child) {
  border-top: 2px solid #c8c7cc;
}

.languages {
  z-index: -1;
  display: block;
  ion-item {
    --background: transparent;
    font-size: small;
    --min-height: 30px;
  }
}

.slideOutUp {
  opacity: 0;
  height: 0px;
  transition: opacity 0.2s, height 0.2s;
}

.slideInDown {
  opacity: 1;
  transition: opacity 0.2s, height 0.2s;
}

.instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  color: white;
  border-radius: 10px;
  padding: 2px;
  font-size: 42px;
}

.facebook {
  background: #3b5998;
  color: white;
  border-radius: 10px;

  padding: 2px;
  font-size: 42px;
}
