<ion-content [fullscreen]="true">
  <ion-toolbar class="ion-no-shadow ion-no-border bg-transparent">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" fill="clear">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <section *ngIf="news;else loadingProgress">
    <div class="d-flex align-items-center">
      <img *ngIf="news?.service_man?.image" [src]="news?.service_man?.image" class="profile-image me-1">


      <div class="ms-1 d-flex align-items-center">
        <span style="font-size: .9rem;" class="medium-color" *ngIf="news?.service_man?.name">{{ news?.service_man?.name
          }}</span>
      </div>
    </div>
    <div class="mt-2">
      <strong>{{ news?.title }}</strong>
    </div>
    <div class="mt-2 news-detail">
      <small>{{ news?.detail }}</small>
    </div>
    <ion-slides [options]="sliderOptions">
      <ion-slide *ngFor="let image of news?.images">
        <img *ngIf="image?.name" [src]="image?.name" (click)="openImage(image?.name)">
      </ion-slide>
    </ion-slides>
  </section>

  <ng-template #loadingProgress>
    <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar>

  </ng-template>
</ion-content>
