<ion-tabs (ionTabsDidChange)="selectedTabChanged($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="suggests">
      <ion-icon [name]="activeTab === 'suggests' ? 'cash' : 'cash-outline'"></ion-icon>
      <ion-label>{{ 'TABS.SUGGESTS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon [name]="activeTab === 'categories' ? 'pricetag' : 'pricetag-outline'"></ion-icon>
      <ion-label>{{ 'TABS.CATEGORIES' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon [name]="activeTab === 'news' ? 'newspaper' : 'newspaper-outline'"></ion-icon>
      <ion-label>{{ 'TABS.NEWS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon [name]="activeTab === 'map' ? 'map' : 'map-outline'"></ion-icon>
      <ion-label>{{ 'TABS.MAP' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="posts">
      <ion-icon [name]="activeTab === 'posts' ? 'document' : 'document-outline'"></ion-icon>
      <ion-label>{{ 'TABS.POSTS' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
