<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="vip">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>VIP</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="square"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="square"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
