<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-content [fullscreen]="true">
  <form class="valign-center" (ngSubmit)="register()" [formGroup]="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button class="no-ripple" routerLink="/tabs/vip" fill="clear">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col size-md="6" size-lg="5" size-xs="12" class="ion-align-self-center d-none d-md-block">
          <div class="d-flex justify-content-center">
            <ion-img src="/assets/images/brand/diwanet_logo_blue.png" class="image">
            </ion-img>
          </div>
        </ion-col>
        <ion-col size-md="6" size-lg="5" size-xs="12" class="ion-align-self-center">
          <div class="ion-padding">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <div class="header">
                    <h1 class="my-1">Register</h1>
                    <p class="color-medium">Start using Diwanet for a better experience.</p>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label position="stacked">Name</ion-label>
                    <ion-input inputmode="text" enterkeyhint="next" type="text" formControlName="name" required>
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label position="stacked">Password</ion-label>
                    <ion-input inputmode="text" [type]="passwordType" formControlName="password" required
                      style="width: 90%;" enterkeyhint="next">
                    </ion-input>
                    <ion-button class="pass-btn no-ripple" fill="clear" (click)="hideShowPassword()">
                      <ion-icon slot="icon-only" [name]="passwordIcon"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label position="stacked">Phone</ion-label>
                    <ion-input enterkeyhint="next" type="text" formControlName="phone" required>
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label position="stacked">Email</ion-label>
                    <ion-input inputmode="email" enterkeyhint="next" type="email" formControlName="email">
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label position="stacked">About</ion-label>
                    <ion-textarea inputmode="text" type="text" formControlName="about"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label position="stacked">Category</ion-label>
                    <ion-select cancelText="Cancel" okText="Select" formControlName="category_id">
                      <ion-select-option *ngFor="let item of categories" [value]="item.id">{{ item.name }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label position="stacked">Price</ion-label>
                    <ion-input inputmode="number" enterkeyhint="next" type="number" formControlName="price">
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label position="stacked">Price Type</ion-label>
                    <ion-select cancelText="Cancel" okText="Select" formControlName="price_type">
                      <ion-select-option value="day">Day</ion-select-option>
                      <ion-select-option value="hour">Hour</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label position="stacked">Location</ion-label>
                    <ion-select cancelText="Cancel" okText="Select" formControlName="location_id">
                      <ion-select-option *ngFor="let item of locations" [value]="item.id">{{ item.name }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label position="stacked">Profile Picture</ion-label>


                    <div class="d-flex align-items-center justify-content-between">
                      <ion-button class="my-2" (click)="input.click()" expand="block" fill="clear">
                        {{ !base64textString?.length ? 'Upload' : 'Change' }} image
                      </ion-button>
                      <img class="my-2" style="width: 15%;" [src]="imageUrl" alt="">
                    </div>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label position="stacked">Facebook Link (Optional)</ion-label>
                    <ion-input inputmode="text" type="text" formControlName="facebook"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label position="stacked">Instargam Link (Optional)</ion-label>
                    <ion-input inputmode="text" type="text" formControlName="instagram"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-label position="stacked">Snapchat Link (Optional)</ion-label>
                    <ion-input inputmode="text" type="text" formControlName="snapchat"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-button type="submit" expand="block" [disabled]="ngForm.invalid || submitted || loading">
                    {{submitted ? 'Registering': 'Register'}}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="ion-text-center">
                  <ion-text color="danger">
                    <span>{{error}}</span>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <input #input [(ngModel)]="imageInput" type="file" class="invisible" id="fileUploader" accept="image/*"
    (change)="processFile(input)">
</ion-content>
