<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-title>
      <img src="/assets/images/brand/diwanet_logo_blue.png" class="image-title">
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="accessToken?.length">
      <ion-button (click)="addNews()" fill="clear">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="loading" [ngTemplateOutlet]="progressSpinner"></ng-container>


  <div id="full-page-container" infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="150"
    (scrolled)="onScroll()" [scrollWindow]="false" class="full-page-container"
    [class]="isAndroid ? 'android-height' : 'ios-height'" *ngIf="newsList?.length;else noResultFound">
    <section [class]="isAndroid ? 'android-height' : 'ios-height'" [style]="'background-image:url('
      +item?.last_image?.name+')'" style="text-align: start;" *ngFor="let item of newsList">
      <div class="overlay">
        <div class="d-flex align-items-center" (click)="openProfile(item.service_man?.id)">
          <img *ngIf="item?.service_man?.image" [src]="item.service_man.image" class="profile-image me-1">


          <div *ngIf="item?.service_man?.name" class="ms-1 d-flex align-items-center">
            <span style="font-size: .9rem;">{{ item.service_man.name}}</span>
          </div>
        </div>
        <div class="mt-2">
          <strong>{{ item.title }}</strong>
        </div>
        <div class="mt-2 news-detail">
          <small>{{ item.detail }}</small>
        </div>
        <div class="mt-2">
          <ion-button (click)="openNews(item.id)" expand="block" color="light" fill="outline" size="medium">
            {{ 'NEWS.SEE_MORE' | translate }} </ion-button>
        </div>
      </div>
    </section>


  </div>

</ion-content>
<ng-template #progressSpinner>
  <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
</ng-template>


<ng-template #noResultFound>

  <div *ngIf="!loading" class="medium-color mt-5 d-flex align-items-center justify-content-center">
    {{ 'NEWS.NO_RESULT' | translate }}
  </div>

</ng-template>
