<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-title>
      <img src="/assets/images/brand/diwanet_logo_blue.png" class="image-title">
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="full-page-container" [class]="isAndroid ? 'android-height' : 'ios-height'">
    <section [class]="isAndroid ? 'android-height' : 'ios-height'" [style]="'background-image:url('
      +item.last_image.name+')'" *ngFor="let item of newsList">
      <div class="overlay">
        <div class="d-flex align-items-center">
          <img [src]="item.service_man.image" class="profile-image me-1">


          <div class="ms-1 d-flex align-items-center"><span style="font-size: .9rem;">{{ item.service_man.name
              }}</span></div>
        </div>
        <div class="mt-2">
          <strong>{{ item.title }}</strong>
        </div>
        <div class="mt-2 news-detail">
          <small>{{ item.detail }}</small>
        </div>
        <div class="mt-2">
          <ion-button (click)="openNews(item.id)" expand="block" color="secondary" fill="outline" size="medium">
            See more
          </ion-button>
        </div>
      </div>
    </section>


  </div>
</ion-content>
