<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-title>
      <img src="/assets/images/brand/diwanet_logo_blue.png" class="image-title">
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="!loading; else loadingProgress">

    <div class="pins" *ngIf="!selectedCategory;else selectedCategoryServiceMen">
      <ion-card *ngFor="let category of categories" (click)="selectCategory(category)">
        <div class="card-overlay">
          {{ category?.name }}
        </div>
        <img [src]="category.image">
      </ion-card>
    </div>



  </ng-container>

  <ng-template #loadingProgress>
    <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar>

  </ng-template>

  <ng-template #selectedCategoryServiceMen>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="clearCategory()" fill="clear">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{selectedCategory.name}} {{ 'CATEGORIES.SERVICE_MEN' | translate }}</ion-title>
    </ion-toolbar>
    <ng-container *ngIf="users.length;else noResultFound" infiniteScroll [infiniteScrollDistance]="3"
      [infiniteScrollThrottle]="150" (scrolled)="onScroll()" [scrollWindow]="false">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" size-xl="3" *ngFor="let user of users">
          <app-user-card-view [user]="user"></app-user-card-view>

        </ion-col>
      </ion-row>
    </ng-container>


  </ng-template>

  <ng-template #noResultFound>

    <div class="medium-color mt-5 d-flex align-items-center justify-content-center">
      {{ 'CATEGORIES.NO_RESULT' | translate }} &nbsp;<strong>{{ selectedCategory.name }}</strong>
    </div>

  </ng-template>
</ion-content>
